@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

@import url('header.css');
@import url('carrossel.css');
@import url('filmes.css');

:root {
    --white-default: #fff;
    --white: #f2f2f2;
    --silver: #cccccc;
    --silver-filmCard: #d9d9d9;
    --black: #011c26;
    --purple-preco: #9125a3;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
